<mat-card class="mt-2" *ngIf="selectedCar">
  <div class="row">
    <div class="col">
      <p class="color-light-gray">MASINA</p>
    </div>
  </div>
  <div class="row">
    <div class="col-6 col-sm-4">
      <p class="selected-car-header mb-0">numar inmatriculare</p>
      <p class="color-light-gray">
        {{ selectedCar.plateNumber }}
      </p>
    </div>
    <div class="col-6 col-sm-4">
      <p class="selected-car-header mb-0">numar locuri</p>
      <p class="color-light-gray">
        {{ selectedCar.numberOfSeats }}
      </p>
    </div>
    <div class="col-6 col-sm-4">
      <p class="selected-car-header mb-0">model</p>
      <p class="color-light-gray">
        {{ selectedCar.model }}
      </p>
    </div>
<!--  </div>-->
<!--  <div class="row">-->
    <!--    <div class="col">-->
    <!--      <p class="selected-car-header mb-0">data exp huv</p>-->
    <!--      <p class="color-light-gray">-->
    <!--        {{ selectedCar.huvignetteExpirationDate | date: 'dd/MM/yyyy' }}-->
    <!--      </p>-->
    <!--    </div>-->



    <div class="col-6 col-sm-4">
      <p class="selected-car-header mb-0">motor</p>
      <p class="color-light-gray">
        <!--        {{ selectedCar.engineType }}-->
        Diesel
      </p>
    </div>

    <div class="col-6 col-sm-4">
      <p class="selected-car-header mb-0">numar sasiu</p>
      <p class="color-light-gray">
        {{ selectedCar.chassisNumber }}
      </p>
    </div>

    <div class="col-6 col-sm-4">
      <p class="selected-car-header mb-0">inchiriata</p>
      <p class="color-light-gray">
        {{ selectedCar.rented ? 'DA' : 'NU' }}
      </p>
    </div>
    <!--  </div>-->
    <!--  <div class="row">-->

<!--  </div>-->
<!--  <div class="row">-->
    <div class="col-6 col-sm-4">
      <p class="selected-car-header mb-0">data exp itp</p>
      <p class="color-light-gray">
        {{ selectedCar.itpExpirationDate | date: 'dd/MM/yyyy' }}
      </p>
    </div>
    <div class="col-6 col-sm-4">
      <p class="selected-car-header mb-0">data exp rca</p>
      <p class="color-light-gray">
        {{ selectedCar.rcaExpirationDate | date: 'dd/MM/yyyy' }}
      </p>
    </div>
    <div class="col-sm-4">
      <p class="selected-car-header mb-0">data exp rov</p>
      <p class="color-light-gray">
        {{ selectedCar.rovignetteExpirationDate | date: 'dd/MM/yyyy' }}
      </p>
    </div>
  </div>

</mat-card>
