@import '../../../../../assets/styles/colors';
@import '../../../../../assets/styles/bootstrap-grid';
@import '../../../../../assets/styles/mixins';

$color-light-gray: map-get($main-colors, light-gray);
$transveho-medium-blue: map-get($main-colors, transveho-medium-blue);

.color-light-gray {
  color: $color-light-gray;
}

.selected-car-header {
  font-weight: 500;
  color: $transveho-medium-blue;
}

.passenger-column {
  @include media-breakpoint-down(md) {
    width: 50% !important;
  }
}

.map {
  height: 600px;
}
