<div class="container-fluid pl-5 pr-5">
  <div class="table-actions-container w-100 d-flex">
    <button
      class="table-actions-container__button"
      (click)="goToCreateTransferPage()"
      [disabled]="selection.selected.length === 0"
    >
      <span
        class="table-actions-container__button__circle"
        [ngClass]="{
          disabled: selection.selected.length === 0
        }"
      >
        <span class="material-icons table-actions-container__button__icon plus"
          >transfer_within_a_station</span
        >
      </span>
      <span class="table-actions-container__button__text"> Creeaza Traseu</span>
    </button>
    <button
      class="table-actions-container__button second-button"
      (click)="openCreatePassengerModal()"
    >
      <span class="table-actions-container__button__circle">
        <span class="material-icons table-actions-container__button__icon plus"
          >add</span
        >
      </span>
      <span class="table-actions-container__button__text">Adauga</span>
    </button>
  </div>

  <div
    *ngIf="dataSource.data"
    class="table-wrapper rounded mat-elevation-z8 p-3 pl-2 pr-2"
  >
    <table
      mat-table
      [dataSource]="dataSource"
      multiTemplateDataRows
      class="w-100"
    >
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            (change)="$event ? masterToggle() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
            [aria-label]="checkboxLabel()"
          >
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)"
            [aria-label]="checkboxLabel(row)"
          >
          </mat-checkbox>
        </td>
      </ng-container>
      <ng-container
        matColumnDef="{{ column.elementPropertyName }}"
        *ngFor="
          let column of columnsToDisplay | slice: 1:columnsToDisplay.length - 7
        "
      >
        <th mat-header-cell *matHeaderCellDef>
          {{ column.romanianTranslation }}
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          [ngClass]="{
            'email-td': column.elementPropertyName === 'email'
          }"
        >
          {{ element[column.elementPropertyName] }}
        </td>
      </ng-container>
      <ng-container matColumnDef="pickUpDateTime">
        <th mat-header-cell *matHeaderCellDef>DATA TRANSFER</th>
        <td mat-cell class="pickUpDateTime" *matCellDef="let element">
          {{ element.pickUpDateTime }}
        </td>
      </ng-container>
      <ng-container matColumnDef="flightDateTime">
        <th mat-header-cell *matHeaderCellDef>DATA AVION</th>
        <td mat-cell class="flightDateTime" *matCellDef="let element">
          {{ element.flightDateTime }}
        </td>
      </ng-container>
      <ng-container matColumnDef="routeId">
        <th mat-header-cell *matHeaderCellDef>RUTA</th>
        <td mat-cell class="route-td" *matCellDef="let element">
          {{ getRouteText(element.routeId) }}
        </td>
      </ng-container>
      <ng-container matColumnDef="returnTransfer">
        <th mat-header-cell class="text-center" *matHeaderCellDef>RETUR</th>
        <td mat-cell class="text-center" *matCellDef="let element">
          {{ element.returnTransfer ? 'DA' : 'NU' }}
        </td>
      </ng-container>
      <ng-container matColumnDef="numberOfCoPassengers">
        <th mat-header-cell class="text-center" *matHeaderCellDef>
          PASAGERI
        </th>
        <td mat-cell class="text-center" *matCellDef="let element">
          <span class="material-icons co-passengers-icon">
            person
          </span>
          <span class="co-passengers-icon-count">
            {{ element.numberOfAdults }}</span
          >
          <span class="material-icons co-passengers-icon ml-2">
            child_care
          </span>

          <span class="co-passengers-icon-count mr-2">
            {{ element.numberOfChildren }}</span
          >
          <span class="material-icons co-passengers-icon">
            child_friendly
          </span>
          <span class="co-passengers-icon-count">
            {{ element.numberOfInfants }}</span
          >
        </td>
      </ng-container>
      <ng-container matColumnDef="passengerTripStatus">
        <th mat-header-cell class="text-center" *matHeaderCellDef>STATUS</th>
        <td mat-cell *matCellDef="let element">
          <status-bar [status]="'passenger-status-done'"></status-bar>
        </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell class="text-center" *matCellDef="let element">
          <div
            class="actions-container rounded-pill mr-1"
            (click)="openActionPopup($event, element)"
            mat-raised-button
            color="primary"
            [mdePopoverTriggerFor]="appPopover"
            mdePopoverTriggerOn="click"
            #popoverTrigger="mdePopoverTrigger"
          >
            <span
              class="actions-container__dot rounded-circle d-inline-block"
            ></span>
            <span
              class="ml-1 actions-container__dot rounded-circle d-inline-block"
            ></span>
            <span
              class="ml-1 actions-container__dot rounded-circle d-inline-block"
            ></span>
          </div>
        </td>
      </ng-container>

      <mde-popover #appPopover="mdePopover" [mdePopoverOverlapTrigger]="false">
        <mat-card class="actions-popover">
          <mat-card-content>
            <div class="row justify-content-end pr-1 pl-1">
              <edit-button (click)="openUpdatePassengerModal()"></edit-button>
              <delete-button
                (click)="openDeletePassengerModal()"
              ></delete-button>
            </div>
          </mat-card-content>
        </mat-card>
      </mde-popover>

      <ng-container matColumnDef="expandedDetail">
        <td
          mat-cell
          *matCellDef="let element"
          [attr.colspan]="columnsToDisplay.length"
          [ngClass]="{
            'blue-border':
              element == expandedElement ||
              dataSource.data.indexOf(expandedElement) ===
                dataSource.data.indexOf(element) + 1,
            'no-border':
              dataSource.data.indexOf(element) === dataSource.data.length - 1
          }"
        >
          <div
            class="row mx-auto overflow-hidden"
            [@detailExpand]="
              element == expandedElement ? 'expanded' : 'collapsed'
            "
          >
            <div
              class="col pt-3"
              *ngFor="let column of detailsColumnsToDisplay"
            >
              <p class="details-header">{{ column.romanianTranslation }}</p>
              <p>{{ element[column.elementPropertyName] }}</p>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="headerColumns"></tr>

      <tr
        mat-row
        *matRowDef="let element; columns: headerColumns"
        class="element-row"
        [ngClass]="{
          'element-row-expanded': element == expandedElement
        }"
        [class.expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element"
      ></tr>

      <tr
        mat-row
        class="detail-row"
        *matRowDef="let row; columns: ['expandedDetail']"
      ></tr>
    </table>
  </div>
  <paginator></paginator>
</div>
