@import '../../../assets/styles/colors';
@import '../../../assets/styles/fonts';
@import '../../../assets/styles/table';

$transveho-medium-blue: map-get($main-colors, transveho-medium-blue);
$transveho-dark-blue: map-get($main-colors, transveho-dark-blue);

.element-row td {
  border-bottom-width: 0;
}
.element-row {
  border-top: 0;
  border-bottom: 0;
}
.email-td {
  width: 15%;
}
.route-td {
  width: 9%;
}
.co-passengers-icon {
  color: $transveho-medium-blue;
}

.co-passengers-icon-count {
  font-weight: 500;
  color: $transveho-dark-blue;
}
