<div class="row mt-3 justify-content-center">
  <div
    class="paginator-button-wrapper paginator-left-arrow paginator-arrow d-flex align-items-center rounded-circle font-weight-bold m-2"
    (click)="matPaginator.previousPage()"
  >
    <span class="material-icons">
      play_arrow
    </span>
  </div>

  <div
    class="paginator-button-wrapper d-flex align-items-center rounded-circle font-weight-bold m-2"
  >
    <span>{{ matPaginator.pageIndex + 1 }}</span>
  </div>

  <div
    class="paginator-button-wrapper paginator-arrow d-flex align-items-center rounded-circle font-weight-bold m-2"
    (click)="matPaginator.nextPage()"
  >
    <span class="material-icons">
      play_arrow
    </span>
  </div>
</div>
<mat-paginator
  style="visibility: hidden;"
  #matPaginator
  [length]="20"
  [pageSize]="10"
></mat-paginator>
