<div class="container-fluid pl-5 pr-5">
  <mat-horizontal-stepper linear class="create-transfer-stepper" #stepper>
    <!--    <ng-template matStepperIcon="edit">-->
    <!--      <mat-icon>number</mat-icon>-->
    <!--    </ng-template>-->
    <mat-step label="Step 1" state="number">
      <ng-template matStepLabel>verifica pasagerii</ng-template>
      <verify-passengers-step
        [passengers]="selectedPassengers"
        (onRemovePassengerOutput)="onRemovePassenger($event)"
      >
      </verify-passengers-step>
    </mat-step>
    <mat-step label="Step 2" state="number" [stepControl]="selectCarFormGroup">
      <form [formGroup]="selectCarFormGroup">
        <ng-template matStepLabel>alege masina</ng-template>
        <input class="d-none" formControlName="selectCarControl">
        <choose-car-step
          [cars]="availableCars"
          [cars]="availableCars"
          [passengers]="selectedPassengers"
          [fromLocation]="selectedRoute.fromLocation"
          [toLocation]="selectedRoute.toLocation"
          [totalNumberOfAdults]="totalNumberOfAdults"
          [totalNumberOfChildren]="totalNumberOfChildren"
          [totalNumberOfInfants]="totalNumberOfInfants"
          (onSelectCarOutput)="onSelectCar($event)"
        ></choose-car-step>
      </form>
    </mat-step>
    <mat-step label="Step 3" state="number" [stepControl]="selectedDriverFormGroup">
      <form [formGroup]="selectedDriverFormGroup">
        <input class="d-none" formControlName="selectDriverControl">
        <ng-template matStepLabel>alege soferul</ng-template>
        <choose-driver-step
          [drivers]="availableDrivers"
          [passengers]="selectedPassengers"
          [selectedCar]="selectCarFormGroup.controls['selectCarControl'].value"
          [fromLocation]="selectedRoute.fromLocation"
          [toLocation]="selectedRoute.toLocation"
          [totalNumberOfAdults]="totalNumberOfAdults"
          [totalNumberOfChildren]="totalNumberOfChildren"
          [totalNumberOfInfants]="totalNumberOfInfants"
          (onSelectDriverOutput)="onSelectDriver($event)"
        ></choose-driver-step>
      </form>
    </mat-step>
    <mat-step label="Step 4" state="number">
      <ng-template matStepLabel>gata</ng-template>
      <final-step
        [selectedCar]="selectCarFormGroup.controls['selectCarControl'].value"
        [passengers]="selectedPassengers"
        [selectedDriver]="this.selectedDriverFormGroup.controls['selectDriverControl'].value"
        [fromLocation]="selectedRoute.fromLocation"
        [toLocation]="selectedRoute.toLocation"
        [totalNumberOfAdults]="totalNumberOfAdults"
        [totalNumberOfChildren]="totalNumberOfChildren"
        [totalNumberOfInfants]="totalNumberOfInfants"
        (onCreateTransfer)="onCreateTransfer()"
      ></final-step>
    </mat-step>
  </mat-horizontal-stepper>
</div>
