@import 'src/assets/styles/colors';

$color-light-gray: map-get($main-colors, light-gray);
$transveho-medium-blue: map-get($main-colors, transveho-medium-blue);

.color-light-gray {
  color: $color-light-gray;
}
.total-passenger-count-label {
  font-weight: 500;
  color: $transveho-medium-blue;
}
