<div class="container-fluid pl-5 pr-5">
  <mat-horizontal-stepper class="create-transfer-stepper" #stepper>
    <mat-step label="Step 1" state="phone">
      <ng-template matStepLabel>verifica pasagerii</ng-template>
      <verify-passengers-step
        [passengers]="passengers"
        (onRemovePassengerOutput)="onRemovePassenger($event)"
      >
      </verify-passengers-step>
    </mat-step>
    <mat-step state="chat">
      <ng-template matStepLabel>alege masina</ng-template>
      <choose-car-step
        [cars]="cars"
        [passengers]="passengers"
        [fromLocation]="'TIMISOARA'"
        [toLocation]="'BUDAPESTA'"
        [totalNumberOfAdults]="totalNumberOfAdults"
        [totalNumberOfChildren]="totalNumberOfChildren"
        [totalNumberOfInfants]="totalNumberOfInfants"
        (onSelectCarOutput)="onSelectCar($event)"
      ></choose-car-step>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>alege soferul</ng-template>
      <choose-driver-step
        [drivers]="drivers"
        [passengers]="passengers"
        [selectedCar]="selectedCar"
        [fromLocation]="'TIMISOARA'"
        [toLocation]="'BUDAPESTA'"
        [totalNumberOfAdults]="totalNumberOfAdults"
        [totalNumberOfChildren]="totalNumberOfChildren"
        [totalNumberOfInfants]="totalNumberOfInfants"
        (onSelectDriverOutput)="onSelectDriver($event)"
      ></choose-driver-step>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>gata</ng-template>
      <final-step
        [selectedCar]="selectedCar"
        [passengers]="passengers"
        [selectedDriver]="selectedDriver"
        [fromLocation]="'TIMISOARA'"
        [toLocation]="'BUDAPESTA'"
        [totalNumberOfAdults]="totalNumberOfAdults"
        [totalNumberOfChildren]="totalNumberOfChildren"
        [totalNumberOfInfants]="totalNumberOfInfants"
        (onCreateTransfer)="onCreateTransfer()"
      ></final-step>
    </mat-step>
    <ng-template matStepperIcon="phone">
      <mat-icon>call_end</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="chat">
      <mat-icon>forum</mat-icon>
    </ng-template>
  </mat-horizontal-stepper>
</div>
