@import '../../../assets/styles/colors';
@import '../../../assets/styles/fonts';
@import '../../../assets/styles/table';

$color-pure-white: map-get($main-colors, pure-white);
$transveho-medium-blue: map-get($main-colors, transveho-medium-blue);
$transveho-dark-blue: map-get($main-colors, transveho-dark-blue);

.element-row td {
  border-bottom-width: 0;
}

.element-row {
  border-top: 0;
  border-bottom: 0;
}

.email-td {
  width: 15%;
}

.route-td {
  width: 9%;
}

.table-actions-container {
  padding-left: 25px;
  &__button {
    &:hover + .second-button {
      left: 1rem;
    }
  }
}

.second-button {
  width: 10rem;
}
