@import '../assets/styles/bootstrap-grid';
@import '../assets/styles/colors';

$color-light-gray: map-get($main-colors, light-gray);
$color-lighter-gray: map-get($main-colors, lighter-gray);
$color-pure-white: map-get($main-colors, pure-white);
$transveho-medium-blue: map-get($main-colors, transveho-medium-blue);

body {
  background-color: $color-lighter-gray;
}
.content {
  min-height: calc(100vh - 150px);
}

.navigation-bar-padding {
  padding-top: 200px;
}

.mat-checkbox-frame {
  border-radius: 6px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.mat-card:not([class*='mat-elevation-z']),
.mat-expansion-panel:not([class*='mat-elevation-z']) {
  box-shadow: none;
}

*:focus {
  outline: none;
}

.mat-stepper-horizontal-line {
  border-top-color: $color-lighter-gray;
}
.mat-horizontal-stepper-header .mat-step-icon {
  color: $color-pure-white;
  padding: 23px;
}

.mat-step-header .mat-step-icon-selected,
.mat-step-icon-state-done {
  background-color: $color-lighter-gray;
  border: 2px solid $transveho-medium-blue !important;
  color: $transveho-medium-blue !important;
}
.mat-step-header .mat-step-icon {
  background-color: $color-lighter-gray;
  border: 2px solid $color-light-gray;
  color: $color-light-gray;
  font-weight: 500;
}
.mat-step-header .mat-step-label {
  color: $color-light-gray !important;
}
.mat-step-header .mat-step-label-selected,
.mat-step-icon-state-done + .mat-step-label {
  font-weight: 500;
  color: $transveho-medium-blue !important;
}
//
//.mat-step-header .mat-step-icon-state-done + .mat-step-label{
//  font-weight: 500;
//  color: $transveho-medium-blue !important;
//}

.mat-horizontal-stepper-header-container {
  padding: 24px;
}
.mat-accordion .mat-expansion-panel:first-of-type {
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

.mat-accordion .mat-expansion-panel:last-of-type {
  padding-bottom: 20px;
}

.countdown {
  height: 100px !important;
  width: 300px !important;
  background-color: white;
  cursor: default;
 // justify-content: flex-start !important;
  font-weight: 500;
  color: $transveho-medium-blue;

  @include media-breakpoint-down(sm){
    width: 100% !important;
  }

  .measurements {
    font-weight: bold !important;
    color: $transveho-medium-blue;
    margin-right: 5px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 10px;
  }

  .divider {
    color: black;
    font-size: 30px;
  }
}

.countdown .measurements:first-of-type {
  margin-left: 35px !important;

  @include media-breakpoint-down(sm){
    margin-left: 55px !important;
  }
}

.example-ripple-container {
  cursor: pointer;
  text-align: center;

  width: 300px;
  height: 300px;
  line-height: 300px;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}
