<div class="text-center">
  <div
    class="text-center cross-sign-container d-flex align-items-center rounded-circle mb-2"
  >
    <span class="material-icons cross-sign-container__icon">
      clear
    </span>
  </div>
  <h1 mat-dialog-title>Esti sigur ca vrei sa stergi acest {{ data.name }}?</h1>
  <div mat-dialog-content>
    <p>aceasta actiune este permanenta</p>
  </div>
  <div mat-dialog-actions>
    <button
      mat-button
      class="modal-button modal-button-cancel"
      (click)="onCancelClick()"
    >
      Anuleaza
    </button>
    <button
      mat-flat-button
      color="warn"
      class="modal-button"
      (click)="onDeleteClick()"
    >
      Sterge
    </button>
  </div>
</div>
