<div class="px-4">
  <h1 mat-dialog-title>Buna</h1>
  <div>
    <p>
      Vrei sa adaugi o noua Ruta?
    </p>
    <route-form
      [route]="emptyRoute"
      (onSubmitOutput)="onEnterSubmit($event)"
    ></route-form>
  </div>
  <div mat-dialog-actions class="row">
    <button class="col w-75 modal-button" mat-button (click)="onCancelClick()">
      Anuleaza
    </button>
    <button
      class="col w-75 modal-button create-button"
      mat-flat-button
      [disabled]="!isRouteFormValid()"
      (click)="onCreateButtonClick()"
    >
      Creaza
    </button>
  </div>
</div>
