<div class="px-4">
  <h1 mat-dialog-title>Buna</h1>
  <div>
    <p>
      Vrei sa editezi userul
      <span class="username">{{ data.user.username }}</span> ?
    </p>
    <user-form
      [user]="this.data?.user"
      (onSubmitOutput)="onEnterSubmit($event)"
    ></user-form>
  </div>
  <div mat-dialog-actions class="row">
    <button class="col w-75 modal-button" mat-button (click)="onCancelClick()">
      Anuleaza
    </button>
    <button
      class="col w-75 modal-button edit-button"
      mat-flat-button
      [disabled]="!isUserFormValid()"
      (click)="onEditButtonClick()"
    >
      Editeaza
    </button>
  </div>
</div>
