<nav
  class="navbar navbar-expand-lg navbar-light bg-white navigation-style mb-5"
>
  <a class="navbar-brand" href="#">
    <img src="assets/images/logo.svg" width="100" height="70" alt="" />
  </a>
  <button
    class="navbar-toggler navigation-style__no-border"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
    (click)="showHeader()"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="collapse navbar-collapse"
    [ngClass]="showMenu ? 'show' : ''"
    id="navbarNav"
  >
    <ul class="navbar-nav navigation-style__navbarNavigation">
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink=""
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          DASHBOARD
          <img
            class="rotateFull"
            src="assets/images/triangle.svg"
            [routerLinkActive]="['is-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          />
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/personal"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          PERSONAL
          <img
            class="rotateFull"
            src="assets/images/triangle.svg"
            [routerLinkActive]="['is-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          />
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/passenger"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          PASAGERI
          <img
            class="rotateFull"
            src="assets/images/triangle.svg"
            [routerLinkActive]="['is-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          />
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/cars"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          MASINI
          <img
            class="rotateFull"
            src="assets/images/triangle.svg"
            [routerLinkActive]="['is-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          />
        </a>
      </li>
      <!--      <li class="nav-item">-->
      <!--        <a-->
      <!--          class="nav-link"-->
      <!--          routerLink="/routes"-->
      <!--          routerLinkActive="active"-->
      <!--          [routerLinkActiveOptions]="{ exact: true }"-->
      <!--        >-->
      <!--          TRASEE-->
      <!--          <img-->
      <!--            class="rotateFull"-->
      <!--            src="assets/images/triangle.svg"-->
      <!--            [routerLinkActive]="['is-active']"-->
      <!--          />-->
      <!--        </a>-->
      <!--      </li>-->
    </ul>
  </div>
</nav>
