<div class="position-fixed w-100 navigation-bar">
  <nav class="navbar navbar-expand-lg bg-white navigation-style">
    <!--    <a class="navbar-brand" href="#">-->
    <!--      <img src="assets/images/logo.svg" width="100" height="70" alt=""/>-->
    <!--    </a>-->
    <button
      class="navbar-toggler navigation-style__no-border"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="showHeader()"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse"
      [ngClass]="showMenu ? 'show' : ''"
      id="navbarNav"
    >
      <ul class="navbar-nav navigation-style__navbar Navigation">
        <li class="nav-item" (click)="setSelectedPage('dashboard')">
          <a
            class="nav-link navigation-style__link"
            routerLink=""
            routerLinkActive="active"
            [routerLinkActive]="['navigation-style__active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            DASHBOARD
            <img
              class="rotateFull"
              src="assets/images/triangle.svg"
              [routerLinkActive]="['is-active']"
              [routerLinkActiveOptions]="{ exact: true }"
            />
          </a>
        </li>
        <li class="nav-item" (click)="setSelectedPage('personal')">
          <a
            class="nav-link navigation-style__link"
            routerLink="/personal"
            routerLinkActive="active"
            [routerLinkActive]="['navigation-style__active']"
          >
            PERSONAL
            <img
              class="rotateFull"
              src="assets/images/triangle.svg"
              [routerLinkActive]="['is-active']"
            />
          </a>
        </li>
        <li class="nav-item" (click)="setSelectedPage('passengers')">
          <a
            class="nav-link navigation-style__link"
            routerLink="/passenger"
            routerLinkActive="active"
            [routerLinkActive]="['navigation-style__active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            PASAGERI
            <img
              class="rotateFull"
              src="assets/images/triangle.svg"
              [routerLinkActive]="['is-active']"
              [routerLinkActiveOptions]="{ exact: true }"
            />
          </a>
        </li>
        <li class="nav-item" (click)="setSelectedPage('cars')">
          <a
            class="nav-link navigation-style__link"
            routerLink="/cars"
            routerLinkActive="active"
            [routerLinkActive]="['navigation-style__active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            MASINI
            <img
              class="rotateFull"
              src="assets/images/triangle.svg"
              [routerLinkActive]="['is-active']"
              [routerLinkActiveOptions]="{ exact: true }"
            />
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="second-nav mb-5 navbar navbar-expand-lg navigation-style">
    <div class="collapse navbar-collapse">
      <ul
        *ngIf="selectedPage === 'personal'"
        class="navbar-nav navigation-style__navbar Navigation"
      >
        <li class="nav-item">
          <a
            class="nav-link secondary-link"
            routerLink="/personal"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Dispeceri
          </a>
        </li>
        <li class="nav-item secondary-item">
          <a
            class="nav-link secondary-link"
            routerLink="/personal/drivers"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Soferi
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
