<nav
  class="navbar navbar-expand-lg navbar-mainbg mb-5 px-lg-5"
  (window:resize)="onResize($event)"
>
  <a class="navbar-brand navbar-logo" href="#">Transveho</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <i class="fas fa-bars text-white"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <div class="hori-selector" [ngClass]="{ 'd-none': !active }">
        <div class="left"></div>
        <div class="right"></div>
      </div>
      <ng-container *ngIf="authenticationService.userHasRole('DRIVER')">
        <li
          class="nav-item cursor-pointer"
          routerLinkActive="active"
          routerLink="current-transfer"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="setSelectorDivPosition()"
        >
          <a class="nav-link">
            <span class="material-icons my-icon">
              tour
            </span>

            Transfer Curent</a
          >
        </li>
        <li
          class="nav-item cursor-pointer"
          (click)="logout()"
        >
          <a class="nav-link"
          ><span class="material-icons my-icon"> login </span></a
          >
        </li>
      </ng-container>
      <ng-container
        *ngIf="
          authenticationService.userHasRole('ADMIN') ||
          authenticationService.userHasRole('DISPATCHER')
        "
      >
        <li
          class="nav-item cursor-pointer"
          routerLinkActive="active"
          routerLink=""
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="setSelectorDivPosition()"
        >
          <a class="nav-link">
            <span class="material-icons my-icon">
              dashboard
            </span>

            Dashboard</a
          >
        </li>
        <li
          class="nav-item cursor-pointer"
          routerLinkActive="active"
          routerLink="/personal/dispatchers"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="setSelectorDivPosition()"
        >
          <a class="nav-link">
            <span class="material-icons my-icon"> supervised_user_circle </span
            >Dispeceri</a
          >
        </li>
        <li
          class="nav-item cursor-pointer"
          routerLinkActive="active"
          routerLink="/personal/drivers"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="setSelectorDivPosition()"
        >
          <a class="nav-link"
            ><span class="material-icons my-icon">
              transfer_within_a_station </span
            >Soferi</a
          >
        </li>
        <li
          class="nav-item cursor-pointer"
          routerLinkActive="active"
          routerLink="/passengers"
          (click)="setSelectorDivPosition()"
        >
          <a class="nav-link"
            ><span class="material-icons my-icon"> accessibility_new </span
            >Pasageri</a
          >
        </li>
        <li
          class="nav-item cursor-pointer"
          routerLinkActive="active"
          routerLink="/cars"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="setSelectorDivPosition()"
        >
          <a class="nav-link"
            ><span class="material-icons my-icon"> directions_car </span
            >Masini</a
          >
        </li>
        <li
          class="nav-item cursor-pointer"
          routerLinkActive="active"
          routerLink="/routes"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="setSelectorDivPosition()"
        >
          <a class="nav-link"
            ><span class="material-icons my-icon"> directions </span>Rute</a
          >
        </li>
        <li
          class="nav-item cursor-pointer"
          (click)="logout()"
        >
          <a class="nav-link"
          ><span class="material-icons my-icon"> login </span></a
          >
        </li>
      </ng-container>
    </ul>
  </div>
</nav>
