$main-colors: (
  curiousBlue: #218bd7,
  lochmara: #0072c3,
  apple: #58be8b,
  brightRed: #fb4b53,
  pure-black: #000000,
  outerSpace: #373d42,
  light-mustard: #ffca18,
  dark-mustard: #e4b000,
  light-red: #ee4c49,
  dark-red: #d70d09,
  light-green: #40d790,
  simplicity-light-blue: #72c0e7,
  simplicity-medium-blue: #349ce5,
  simplicity-dark-blue: #385c9a,
  pure-white: #ffffff,
  light-gray: #919194,
  lighter-gray: #f2f2f2,
  darkerWhite: #ccc
);
