@import './colors';

$color-pure-white: map-get($main-colors, pure-white);
$transveho-light-blue: map-get($main-colors, transveho-light-blue);
$transveho-medium-blue: map-get($main-colors, transveho-medium-blue);
$transveho-dark-blue: map-get($main-colors, transveho-dark-blue);
$color-lighter-gray: map-get($main-colors, lighter-gray);
$color-light-gray: map-get($main-colors, light-gray);

.table-wrapper {
  background-color: $color-pure-white;
}

.details-header {
  color: $transveho-dark-blue;
  font-weight: 500;
}

tr.element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.element-row:not(.example-expanded-row):active {
  background: #efefef;
}

th.mat-header-cell {
  border-bottom-width: 3px;
  border-bottom-color: $transveho-medium-blue;
}

tr.detail-row {
  height: 0;
  background-color: #fbfbfb;
}

tr.element-row-expanded {
  background-color: whitesmoke;
}

.blue-border {
  border-color: $transveho-light-blue;
  border-bottom-width: 2px;
}

tr.element-row:last-of-type td {
  border-bottom: 0;
}

//TODO create common scss file for personal pages and a common scss file for al common styles

th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type {
  padding-right: 0;
}

.no-border {
  border-style: none;
}

.actions-container {
  &:hover {
    background-color: #ebebeb;
  }

  &__dot {
    height: 8px;
    width: 8px;
    border: 2px solid $transveho-light-blue;
  }
}

.actions-popover {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
  0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.table-actions-container {
  padding-left: 80px;
  padding-bottom: 20px;

  &__button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    width: 14.5rem;
    height: auto;

    &:hover &__circle {
      width: 100%;
    }

    &:hover &__icon {
      -webkit-transform: translate(1rem, 0);
      transform: translate(1rem, 0);
    }

    &:hover &__text {
      color: $color-pure-white;
    }

    &:focus {
      outline: none;
      box-shadow: none;
    }

    &__circle {
      transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
      position: relative;
      display: block;
      margin: 0;
      width: 3rem;
      height: 3rem;
      background: $transveho-medium-blue;
      border-radius: 1.625rem;
    }

    &__icon {
      transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
      position: absolute;
      top: 13px;
      bottom: 0;
      left: 12px;
      margin: auto;
      color: $color-pure-white;
      width: 1.125rem;
      background: none;
    }

    &__text {
      transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0.75rem 0;
      margin: 0 0 0 1.4rem;
      color: $color-lighter-gray;
      font-weight: 700;
      line-height: 1.6;
      text-align: center;
      text-transform: uppercase;
    }
  }
}

.second-button {
  width: 10rem;
  left: -160px;
  transition: left 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}

.disabled {
  background: $color-light-gray;
}
