<hr class="separator" />
<div class="row footer-margins mobile-center footer-bottom-margin">
  <div
    class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 offset-md-1 offset-lg-1 offset-xl-1 footer-text"
  >
    <div (click)="onShowNotImplementedMessage()" class="footer-text-size">
      CONTACT
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 footer-text">
    <div (click)="onShowNotImplementedMessage()" class="footer-text-size">
      PRIVACY
    </div>
  </div>
  <div
    class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 footer-text no-padding"
  >
    <div (click)="onShowNotImplementedMessage()" class="footer-text-size">
      TERMS OF USE
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 footer-text">
    <div (click)="onShowNotImplementedMessage()" class="footer-text-size">
      ACCESSIBILITY
    </div>
  </div>
  <div
    class="col-12 col-sm-12 col-md-3 col-lg-2 col-xl-2 footer-text no-padding"
  >
    <div (click)="onShowNotImplementedMessage()" class="footer-text-size">
      COOKIE PREFERENCES
    </div>
  </div>
  <div class="col-12 col-sm-12 col-lg-1 col-xl-1"></div>
</div>
