<div class="w-100 wrapper pt-3 pb-5">
  <div class="container-md">
    <div class="row footer">
      <div class="col footer__text mb-2">
        <div (click)="onShowNotImplementedMessage()">
          CONTACT
        </div>
      </div>
      <div class="col footer__text mb-2">
        <div (click)="onShowNotImplementedMessage()">
          PRIVACY
        </div>
      </div>
      <div class="col footer__text mb-2">
        <div (click)="onShowNotImplementedMessage()">
          TERMS OF USE
        </div>
      </div>
      <div class="col footer__text mb-2">
        <div (click)="onShowNotImplementedMessage()">
          ACCESSIBILITY
        </div>
      </div>
      <div class="col footer__text mb-2">
        <div (click)="onShowNotImplementedMessage()">
          COOKIE PREFERENCES
        </div>
      </div>
    </div>
  </div>
</div>
