<div class="w-100 wrapper pt-3 pb-5">
  <div class="container-md">
    <div class="row footer">
      <div class="col footer__text mb-2">
        <div (click)="onShowNotImplementedMessage()">

        </div>
      </div>
      <div class="col footer__text mb-2">
        <div (click)="onShowNotImplementedMessage()">

        </div>
      </div>
      <div class="col footer__text mb-2">
        <div (click)="onShowNotImplementedMessage()">

        </div>
      </div>
      <div class="col footer__text mb-2">
        <div (click)="onShowNotImplementedMessage()">

        </div>
      </div>
      <div class="col footer__text mb-2">
        <div (click)="onShowNotImplementedMessage()">

        </div>
      </div>
    </div>
  </div>
</div>
