@import '../../../assets/styles/colors';
@import '../../../assets/styles/bootstrap-grid';
@import '../../../assets/styles/mixins';
@import '../../../assets/styles/fonts';

$color-transveho-medium-blue: map-get($main-colors, transveho-medium-blue);
$color-pure-white: map-get($main-colors, pure-white);

.wrapper {
  background-color: $color-transveho-medium-blue;
  height: 50px;
}

.footer {
  text-align: center;

  &__text {
    font-size: 16px;
    line-height: 23px;
    display: inline-block;
    vertical-align: middle;
    float: none;
    cursor: pointer;
    color: $color-transveho-medium-blue;
  }
}
