<div class="container-fluid pl-5 pr-5">
  <div
    *ngIf="dataSource"
    class="table-wrapper rounded mat-elevation-z8 p-3 pl-5 pr-5"
  >
    <table
      mat-table
      [dataSource]="dataSource"
      multiTemplateDataRows
      class="w-100"
    >
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            (change)="$event ? masterToggle() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
            [aria-label]="checkboxLabel()"
          >
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)"
            [aria-label]="checkboxLabel(row)"
          >
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container
        matColumnDef="{{ column.elementPropertyName }}"
        *ngFor="
          let column of columnsToDisplay | slice: 1:columnsToDisplay.length - 2
        "
      >
        <th mat-header-cell *matHeaderCellDef>
          {{ column.romanianTranslation }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element[column.elementPropertyName] }}
        </td>
      </ng-container>
      <ng-container matColumnDef="userStatus">
        <th mat-header-cell *matHeaderCellDef>STATUS</th>
        <td mat-cell *matCellDef="let element">
          <status-bar class="w-75" [status]="element.userStatus"></status-bar>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <div
            class="actions-container rounded-pill mr-1"
            (click)="openActionPopup($event)"
            mat-raised-button
            color="primary"
            [mdePopoverTriggerFor]="appPopover"
            mdePopoverTriggerOn="click"
            #popoverTrigger="mdePopoverTrigger"
          >
            <span
              class="actions-container__dot rounded-circle d-inline-block"
            ></span>
            <span
              class="ml-1 actions-container__dot rounded-circle d-inline-block"
            ></span>
            <span
              class="ml-1 actions-container__dot rounded-circle d-inline-block"
            ></span>
          </div>
        </td>
      </ng-container>

      <mde-popover #appPopover="mdePopover" [mdePopoverOverlapTrigger]="false">
        <mat-card>
          <mat-card-content>
            <div class="row justify-content-end pr-1 pl-1">
              <edit-button></edit-button>
              <delete-button></delete-button>
            </div>
          </mat-card-content>
        </mat-card>
      </mde-popover>

      <tr mat-header-row *matHeaderRowDef="headerColumns"></tr>
      <tr
        mat-row
        class="element-row"
        *matRowDef="let row; columns: headerColumns"
        (click)="selection.toggle(row)"
      ></tr>
    </table>
  </div>
  <paginator></paginator>
</div>
